@{
    ViewData["Title"] = "Quadrants";
}
<br /><br />
<h1>Time Management Matrix</h1>
<br /><br />


<!-- Matrix container -->
      <div class="container">
          <!-- Headers row -->
          <div class="row">
              <div class="col-sm-2 col-lg-1"></div>
              <div class="col-sm-5 col-lg-3 border-bottom"><h3>Urgent</h3></div>
              <div class="col-sm-5 col-lg-3 border-bottom"><h3>Not Urgent</h3></div>
          </div>
          <!-- "Important row" -->
          <div class="row">
              <div class="col-sm-2 col-lg-1 border-right"><h3 class="vertical-text">Important</h3></div>
              <div class="col-sm-5 col-lg-3 border">
                  <table class="table">
                      <thead>
                          <tr>
                              <td>Quadrant 1</td>
                          </tr>
                      </thead>
                      <tr>
                          <td>dynamic task</td>
                          <td> <a href="">Edit</a> </td>
                          <td> <a href="">Delete</a> </td>
                      </tr>
                  </table>
              </div>

              <div class="col-sm-5 col-lg-3 border">
                  <table class="table">
                      <thead>
                          <tr>
                              <td>Quadrant 2</td>
                          </tr>
                      </thead>
                      <tr>
                          <td>dynamic task</td>
                          <td> <a href="">Edit</a> </td>
                          <td> <a href="">Delete</a> </td>
                      </tr>
                  </table>
              </div>
          </div>
          <!-- "Not important" row -->
          <div class="row">
              <div class="col-sm-2 col-lg-1 border-right"><h3 class="vertical-text">Not Important</h3></div>
              <div class="col-sm-5 col-lg-3 border">
                  <table class="table">
                      <thead>
                          <tr>
                              <td>Quadrant 3</td>
                          </tr>
                      </thead>
                      <tr>
                          <td>dynamic task</td>
                          <td> <a href="">Edit</a> </td>
                          <td> <a href="">Delete</a> </td>
                      </tr>
                  </table>
              </div>
              <div class="col-sm-5 col-lg-3 border">
                  <table class="table">
                      <thead>
                          <tr>
                              <td>Quadrant 4</td>
                          </tr>
                      </thead>
                      <tr>
                          <td>dynamic task</td>
                          <td> <a href="">Edit</a> </td>
                          <td> <a href="">Delete</a> </td>
                      </tr>
                  </table>
              </div>
          </div>
      </div>