@{
    ViewData["Title"] = "Tasks";
}

@model TaskModel

<div class="text-center">
    <h1 class="display-4">Enter A Task</h1>
</div>

<br />

<div class="task-form-container">
    <form method="post">

        <div asp-validation-summary="All"></div>
        <div class="form-group">
            <label asp-for="Task">Task:</label>
            <input asp-for="Task" class="form-control" />
        </div>

        <div class="form-group">
            <label type="datetime-local" asp-for="DueDate">Due Date:</label>
            <input asp-for="DueDate" class="form-control" />
        </div>

        <div class="form-group">
            <label asp-for="Quadrant">Quadrant: </label>
            <select asp-for="Quadrant" class="form-control">
                <option value="">Select a Quadrant</option>
                <option value="1">Important/Urgent</option>
                <option value="2">Important/Not Urgent</option>
                <option value="3">Not Important/Urgent</option>
                <option value="4">Not Important/Not Urgent</option>
            </select>
        </div>
        
        <div class="form-group">
            <label asp-for="Category">Category:</label>
            <select asp-for="CategoryID" class="form-control">
                <option value="">Select a Category</option>
                @foreach (Category c in ViewBag.Categories)
                {
                    <option value="@c.CategoryID">@c.CategoryName</option>
                }

            </select>
        </div>
        

        <div class="form-group">
            <label asp-for="Completed">Completed:</label>
            <select asp-for="Completed" class="form-control">
                <option value="">Select a Category</option>
                <option value=true>True</option>
                <option value=false>False</option>
            </select>
        </div>
        

        <input asp-for="TaskID" value="@Model.TaskID" type="hidden" />

        <button type="submit" class="btn btn-primary">Submit Task</button>
    </form>
</div>